/* TOP */

.topColor{
	background-color: black;
}

.a{
	color: white;
}

/* MENU */

.navbar-nav > li {
	padding-left: 30px;
	padding-right: 30px;
}

/* LOGIN */


/* BODY */

#wrapper{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

body{
	background-color: #2941ab;
}

.divBoton{
	margin-top: 30px;
}

#btn-catalogo{
	margin: 10px 10px 10px 10px;
}

#btn-hiphopcatalogos{
	margin: 10px 10px 10px 10px;
}

#btn-popcatalogos{
	margin: 10px 10px 10px 10px;
}

#btn-latinacatalogos{
	margin: 10px 10px 10px 10px;
}


/* HOME */

.fondoDivHome{
	background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
	background-size: 120%;
	height: 1000px;
	background-position: 46% 4%;
}

.divTituloHome{
	margin: auto;
	width: 700px;
	text-align: center;
	position: relative;
	display: inline-block;
	top: 45%; left: 50%;
	transform: translate(-45%,-50%);
}

.tituloHome{
	color: #1ed760;
	font-size: 150px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#hiphopHome{
	margin-bottom: 10px;
}

/* CATALOGUE */

#cardsMargin{
	margin: auto;
	width: auto;
	text-align: center;
	position: relative;
	display: inline-block;
	top: 45%; left: 50%;
	transform: translate(-45%,75%);
}

.textCards{
	color: white !important;
	font-size: 20px;
	font-weight: bold;
}

.textCardsL{
	color: white !important;
	font-size: 13px;
	font-weight: bold;
}


.hiphopCard{
	background-color: black;
	border: none;
}

.popCard{
	background-color: #bc0438;
	border: none;
}

.latinaCard{
	background-color: #5e3016;
	border: none;
}

/* CART */

#cartDiv{
	margin: auto;
	width: auto;
	text-align: center;
	position: relative;
	display: inline-block;
	top: 45%; left: 50%;
	transform: translate(-45%,-50%);
}

#tableCart {
	background-color: black;
	color: white;
	border: white solid 3px;
	width: 800px;
}

.rowsTable{
	border: white solid 3px;
}

.ltTable{
	border: white solid 3px;
}

/* COMPRA */

.imageVisa{
	margin-left: 10px;
}

input{
	display: inline-block;
	float: right;
	border-bottom: 10px;
}

/* FOOTER */

.footer{
	margin-bottom: 0px;
}

.topCol{
	margin-top: 30px;
}