/* TOP */

.topColor{
	background-color: black;
}

.a{
	color: white;
}

/* MENU */

.navbar-nav > li {
	padding-left: 30px;
	padding-right: 30px;
}

/* BODY */

body{
	background-color: #2941ab;
}

.divBoton{
	margin-top: 30px;
}

#btn-catalogo{
	margin: 10px 10px 10px 10px;
}

#btn-hiphopcatalogos{
	margin: 10px 10px 10px 10px;
}

#btn-popcatalogos{
	margin: 10px 10px 10px 10px;
}

#btn-latinacatalogos{
	margin: 10px 10px 10px 10px;
}


/* HOME */

.fondoDivHome{
	background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
	background-size: 120%;
	height: 800px;
	background-position: 46% 4%;
}

.divTituloHome{
	margin: auto;
	width: 700px;
	text-align: center;
	position: relative;
	display: inline-block;
	top: 45%; left: 50%;
	transform: translate(-45%,-50%);
}

.tituloHome{
	color: #1ed760;
	font-size: 150px;
}

/* CATALOGUE */

.textCards{
	color: white !important;
	font-size: 20px;
	font-weight: bold;
}

.hiphopCard{
	background-color: black;
	border: none;
}

.popCard{
	background-color: #bc0438;
	border: none;
}

.latinaCard{
	background-color: #5e3016;
	border: none;
}

/* FOOTER */

.footer{
	position: relative;
	margin-top: 0px; 
}

.topCol{
	margin-top: 30px;
}